<div>
  <%= link_to_function(l(:button_show), "$('#redmine_with_git_api').toggle();")%>
  <div id='redmine_with_git_api' class="autoscroll" >
    <h4>Export CURL command</h4>
    <%= export_api_curl_command %>
  </div>
</div>
<%= javascript_tag("$('#redmine_with_git_api').hide();") %>
